.book {
    border: solid black 1px;
}

header {
    font-size: 20px;
    text-align: center;
    padding: 30px 0px
}

footer {
    font-size: 8px;
    text-align: center
}

.bookContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(400px);
    grid-gap: 1em;
    margin: 0px 50px;
    text-align: center;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    list-style-position:inside;
    padding: 0;
    margin: 0;
}

.bookAddForm {
    margin: 30px auto;
    width: 400px;
    text-align:center;
}

input {
    width: 100%;
}